.contents {
  @include column-flex(start, center);
  width: 100%;

  &_title {
    margin-top: 4vh;
    font-size: 1.8vw;
    font-weight: 700;
    color: $pink-90;
  }

  &_input {
    width: 50%;
    height: 4vh;
    padding: 0 1vw;
    margin-top: 4vh;
    border: 1px solid $pink-50;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: $pink-10;

    &:focus {
      outline: none;
    }
  }

  &_list {
    width: 80%;
    padding: 0;
    margin: 4vh 0;

    &_todo {
      @include flex(start, center);
      width: 100%;
      min-height: 4vh;
      padding: 1vh 1vw;
      border-top: 1px solid $pink-50;

      &_checkbox {
        margin-right: 1vw;
      }

      &_delete {
        margin-left: auto;
      }
    }

    &:last-child {
      border-bottom: 1px solid $pink-50;
    }
  }
}
