.todoItem {
  @include column-flex(start, center);
  width: 100%;

  &_list {
    width: 80%;
    padding: 0;
    margin: 4vh 0;

    &_todo {
      @include flex(start, center);
      width: 100%;
      min-height: 4vh;
      padding: 1vh 1vw;
      border-top: 1px solid $pink-50;

      &--completed {
        text-decoration: line-through;
      }

      &_checkbox {
        margin-right: 1vw;
        accent-color: $pink-70;
      }

      &_delete {
        margin-left: auto;
      }
    }

    &:last-child {
      border-bottom: 1px solid $pink-50;
    }
  }
}
